{%extends "base/base.html" %}

{% block start %}

<!-- slick carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">

<!-- slider -->

<div class="container mt-4 pt-4">
    <div class="slider">
        {% for product in products %}
        <div>
            <figure class="card card-product-grid">
                <div class="img-wrap">
                    <img src="/media/{{ product.product_images.first.image }}" alt="{{ product.product_name }}">
                </div>
                <figcaption class="info-wrap border-top">
                    <a href="{% url 'get_product' product.slug %}" class="title">{{ product.product_name }}</a>
                    <div class="price mt-2">₹{{ product.price }}.00</div>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>


<!-- all products -->
<div class="container mt-4 pt-4">
    <h2 class="text-center mt-2 p-2">All Products</h2>
    <div class="row">

        {% for product in products %}
        <div class="col-md-4 mb-4">
            <figure class="card card-product-grid">
                <div class="img-wrap">
                    <img src="/media/{{ product.product_images.first.image }}" alt="{{ product.product_name }}">
                </div>
                <figcaption class="info-wrap border-top">
                    <a href="{% url 'get_product' product.slug %}" class="title">{{ product.product_name }}</a>
                    <div class="price mt-2">₹{{ product.price }}.00</div>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>



 <script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slick({
            slidesToShow: 4, // Number of products to show on large screens
            slidesToScroll: 1,
            dots: true,
            infinite: true,
            speed: 300,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1024, // For screens <= 1024px (e.g. tablets and small laptops)
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 768, // For screens <= 768px (e.g. smaller tablets)
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 576, // For screens <= 576px (e.g. mobile phones)
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                }
            ]
        });
    });
</script>


{% endblock %}