{% extends "base/base.html" %}

{% block start %}
<section class="section-content padding-y bg">
    {% include 'base/alert.html' %}
    <div class="container">
    <div class="card">
        
        <div class="row no-gutters">
            <aside class="col-md-6">
                <article class="gallery-wrap"> 
                    <div class="img-big-wrap">
                        <div> 
                            <a href="#"><img src="/media/{{ product_images.first.image }}"></a>
                        </div>
                    </div> <!-- slider-product.// -->
                    <div class="thumbs-wrap">
                        {% for image in product_images %}
                        <a href="#" class="item-thumb"> <img src="/media/{{ image.image }}"></a>
                        {% endfor %}
                    </div> <!-- slider-nav.// -->
                </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
                <article class="content-body">
                    <h2 class="title"> {{ product.product_name }} </h2>
                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active"> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                            </li>
                            <li>
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                            </li>
                        </ul>
                        <small class="label-rating text-muted">132 reviews</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                    </div> <!-- rating-wrap.// -->
                    <div class="mb-3"> 
                        <var class="price h4">
                            {% if updated_price %}
                                ₹{{ updated_price }}.00
                            {% else %}
                                ₹{{ product.price }}.00
                            {% endif %}
                        </var> 
                    </div> <!-- price-detail-wrap .// -->
                    <p> {{ product.product_desc }} </p>
                    <dl class="row">
                        {% if product.color_variant.count %}
                        <dt class="col-sm-3">Color</dt>
                        <dd class="col-sm-9">
                            <select class="form-select" onchange="get_correct_color(this.value)">
                                <option value="" disabled selected>Select Color</option>
                                {% for color in product.color_variant.all %}
                                    <option value="{{ color.color }}" {% if selected_color == color.color %} selected {% endif %}>{{ color.color }}</option>
                                {% endfor %}
                            </select>
                        </dd>
                        {% endif %}
                        <dt class="col-sm-3">Delivery</dt>
                        <dd class="col-sm-9">USA, India and Europe </dd>
                    </dl>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md flex-grow-0">
                            <label>Quantity</label>
                            <div class="input-group mb-3 input-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                </div>
                                <input type="text" id="quantity-input" class="form-control" value="1">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button" id="button-minus"> − </button>
                                </div>
                            </div>
                        </div>
                        {% if product.size_variant.count %}
                        <div class="form-group col-md">
                            <label>Select Screen size</label>
                            <div class="mt-1">
                                {% for size in product.size_variant.all %}
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" onchange="get_correct_price('{{ size.size }}')" name="select_size" {% if selected_size == size.size %} checked {% endif %} class="custom-control-input">
                                    <div class="custom-control-label">{{ size.size }} inch</div>
                                </label>
                                {% endfor %}
                            </div>
                        </div> <!-- col.// -->
                        {% endif %}
                    </div> <!-- row.// -->

                    <a href="{% url 'buy_now' product.slug %}{% if selected_size %}?size_variant={{ selected_size }}{% endif %}{% if selected_color %}{% if selected_size %}&{% else %}?{% endif %}color_variant={{ selected_color }}{% endif %}" class="btn btn-primary buy-now-btn"> Buy now </a>
                    <a href="{% url 'add-to-cart' product.slug %}{% if selected_size %}?size_variant={{ selected_size }}{% endif %}{% if selected_color %}{% if selected_size %}&{% else %}?{% endif %}color_variant={{ selected_color }}{% endif %}&quantity=1" class="btn btn-outline-primary add-to-cart-btn">
                        <span class="text">Add to cart</span>
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const plusButton = document.getElementById('button-plus');
    const minusButton = document.getElementById('button-minus');
    const quantityInput = document.getElementById('quantity-input');

    plusButton.addEventListener('click', function() {
        let currentValue = parseInt(quantityInput.value, 10);
        if (!isNaN(currentValue)) {
            quantityInput.value = currentValue + 1;
        }
    });

    minusButton.addEventListener('click', function() {
        let currentValue = parseInt(quantityInput.value, 10);
        if (!isNaN(currentValue) && currentValue > 1) {
            quantityInput.value = currentValue - 1;
        }
        });
    });

    function get_correct_price(size) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('size', size);
        window.location.search = urlParams.toString();
    }
    function get_correct_color(color) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('color', color);
        window.location.search = urlParams.toString();
    }


    document.querySelector('.add-to-cart-btn').addEventListener('click', function(event) {
    event.preventDefault();  // Prevent default behavior to modify the link first

    // Get selected size and color
    const selectedSize = document.querySelector('input[name="select_size"]:checked');
    const selectedColor = document.querySelector('select option:checked').value;

    // Check if size or color is required and not selected
    
    if (document.querySelector('select').length > 0 && selectedColor === "") {
        alert("Please select a color.");
        return;  // Stop execution
    }

    // Get quantity and update the cart link
    const quantity = document.getElementById('quantity-input').value;
    let addToCartLink = this.href;

    let url = new URL(addToCartLink, window.location.origin);
    url.searchParams.set('quantity', quantity);

    // Redirect to the updated link with the quantity
    window.location.href = url.toString();
});

document.querySelector('.buy-now-btn').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent default behavior to modify the link first

        // Get selected size and color
        const selectedSize = document.querySelector('input[name="select_size"]:checked');
        const selectedColor = document.querySelector('select option:checked').value;

        // Check if size or color is required and not selected
        

        if (document.querySelector('select').length > 0 && selectedColor === "") {
            alert("Please select a color.");
            return;  // Stop execution
        }
        const quantity = document.getElementById('quantity-input').value;
        // Get the buy now link and modify it based on size/color selection
        let buyNowLink = this.href;
        let url = new URL(buyNowLink, window.location.origin);
        url.searchParams.set('quantity', quantity);


        // Redirect to the updated link
        window.location.href = url.toString();
    });

</script>
{% endblock %}
